


<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script>
      const name = "<%= name %>";
      const pic = "<%= pic %>";
    </script>
      
 

  </head>

  <body>
  </br>
  </br>
</br>
    <div class="container">
        <div class="container-fluid">
            <img src="https://image.flaticon.com/icons/png/128/3237/3237447.png" class="mx-auto rounded-circle d-block" style="width:20%"> 
            <br>
            <figure class="text-center">
                <h2>
                    <small class="text-muted"><h2> Hello! <br><b> <%= name %> </b></h2></small>
                  </h2>
            </figure>
          </div>

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                <h4><b style="text-align: center;">Create Meeting</b></h4>
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">
              <a
                class="collapsed card-link"
                data-toggle="collapse"
                href="#collapseTwo"
              >
              <h4><b>Join Meeting</b></h4>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="collapseOne" class="collapse show">
            <form class="card-body" action="/makeID" method="post">
                <input type="text" name="makingid" value="" id="myInput"> 
              
              <div class="d-grid gap-2 d-md-block">
                <button type="button" class="btn btn-outline-primary" onclick="Hello()">Copy ID</button>
                <button type="submit" class="btn btn-outline-primary" >Join Room</button>
                
              </div>

            </form>
          </div></div>
        
        <div class="col">
          <div id="collapseTwo" class="collapse">
            <form class="card-body" action="/join" method="post">
                <input type="text" name="putID">
                <button type="submit"class="btn btn-outline-primary">Join Room</button>
                
                
            </form>
          </div>
        </div>
      </div>
      <div class="d-flex h-100">
        <div class="align-self-end ml-auto">
          <a href="/logout" type="button" class="btn btn-primary">Logout</a>
      </div>
      </div>

      

    </div>
    
  

  </body>
</html>

<style>
  
body{
	margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #2980b9 url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/173252/black_static_bg3.png') repeat 0 0;
	-webkit-animation: 30s linear 0s normal none infinite animate;
	-moz-animation: 30s linear 0s normal none infinite animate;
	-ms-animation: 30s linear 0s normal none infinite animate;
	-o-animation: 30s linear 0s normal none infinite animate;
	animation: 30s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

</style>


  <script>
    function Hello() {
  var copyText = document.getElementById('myInput');
  console.log(uuid());
  document.getElementById("myInput").value = `${window.location.href}${uuid()}`;
  copyText.select();
  document.execCommand('copy')
  console.log('Copied Text')

  function uuid() {
  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
    return v.toString(16);
  });
}
}
</script>  


