<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     
 

  </head>
  <body>
    <div class="container">
        <div class="container-fluid">
            <img src="paris.jpg" class="mx-auto rounded-circle d-block" style="width:30%"> 
            <figure class="text-center">
                <h3>
                    Hello,
                    <small class="text-muted"> mm </small>
                  </h3>
            </figure>
          </div>

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                <h4><b>Create Meeting</b></h4>
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">
              <a
                class="collapsed card-link"
                data-toggle="collapse"
                href="#collapseTwo"
              >
              <h4><b>Join Meeting</b></h4>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="collapseOne" class="collapse show">
            <form class="card-body" action="/makeID" method="post">
                <input type="text" name="makingid" value="PLease Create your own ID" id="myInput"(id is the name of the text, you can change it later)>
              <div class="d-grid gap-2 d-md-block">
                <button type="button" class="btn btn-outline-primary" onclick="Hello()">Copy ID</button>
                <button type="submit" class="btn btn-outline-primary" >Join Room</button>
                
              </div>

            </form>
          </div></div>
        
        <div class="col">
          <div id="collapseTwo" class="collapse">
            <form class="card-body" action="/join" method="post">
                <input type="text" name="putID">
                <button type="submit"class="btn btn-outline-primary">Join Room</button>
                
                
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
    function Hello() {
  var copyText = document.getElementById('myInput')
  copyText.select();
  document.execCommand('copy')
  console.log('Copied Text')
}
</script> 